@media screen and (min-width: 426px) {
  #best-friend .container-p {
    margin: 25px;
  }
  #best-friend .container-best-friend-p {
    width: 80%;
    margin: auto;
  }
  #best-friend .container-p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 930px) {
  #best-friend .container-best-friend-p {
    width: 60%;
    margin: 5%;
  }
  #best-friend .container-title h3 {
    font-size: 3rem;
  }
  #best-friend .container-title h5 {
    font-size: 2.2rem;
    width: 90%;
  }
  #best-friend .container-best-friend-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  #best-friend .container-best-friend-img img {
    height: 600px;
  }
}

@media screen and (min-width: 1164px) {
    #best-friend .container-best-friend-p {
        width: 50%;
      }
      #best-friend .container-best-friend-img img {
        width: 420px;
        max-width: 420px;
        height: auto;
      }
      #best-friend .container-best-friend-img {
        right: 95px;

      }

}
@media screen and (min-width: 1364px) {

      #best-friend .container-best-friend-img {
        right: 161px;

      }

}